.card {
  /* flex: 1; */
  padding: 1em;
  margin-right: 1em;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  /* height: fit */
  /* width: 100%; */
  /* align-items: center; */
}
.card h2 {
  font-size: 1.5em;
  font-weight: 400;
}
.card h3 {
  font-size: 1em;
  font-weight: 300;
}
.card .fav-button {
  /* flex: 2; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 30px;
  width: 100%;
}

.card > .quote-info {
  /* flex: 1; */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
